<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>ShopMe_standard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/pages/404page.jsp</location>
  </error-page>
  <filter>
    <display-name>Filter1_Authentication</display-name>
    <filter-name>Filter1_Authentication</filter-name>
    <filter-class>Fillter.Filter1_Authentication</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter1_Authentication</filter-name>
    <url-pattern>/Filter1_Authentication</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>Controller.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>Controller.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Controller.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Language</display-name>
    <servlet-name>Language</servlet-name>
    <servlet-class>Controller.Language</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Language</servlet-name>
    <url-pattern>/Language</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter2_AuthAuthorization</display-name>
    <filter-name>Filter2_AuthAuthorization</filter-name>
    <filter-class>Fillter.Filter2_AuthAuthorization</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter2_AuthAuthorization</filter-name>
    <url-pattern>/Filter2_AuthAuthorization</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Filter2_Auth</display-name>
    <filter-name>Filter2_Auth</filter-name>
    <filter-class>Fillter.Filter2_Auth</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter2_Auth</filter-name>
    <url-pattern>/Filter2_Auth</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>Controller.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>Controller.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter2_Payment</display-name>
    <filter-name>Filter2_Payment</filter-name>
    <filter-class>Fillter.Filter2_Payment</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter2_Payment</filter-name>
    <url-pattern>/Filter2_Payment</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Filter2_UserAuthorization</display-name>
    <filter-name>Filter2_UserAuthorization</filter-name>
    <filter-class>Fillter.Filter2_UserAuthorization</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter2_UserAuthorization</filter-name>
    <url-pattern>/Filter2_UserAuthorization</url-pattern>
  </filter-mapping>
</web-app>